table, th,td {
    border-collapse: collapse;
    border:1px solid black
}
table{
    width: 50%;
    text-align: center;
    padding: 15px;

}
th{
    width: 100px;
    height: 70px;
    text-align: left;
}
tr:hover{
    color:rgb(148, 143, 143);
    background-color: bisque;
}
#overflow {
    width:300px;
    height: 50px;
    overflow:auto;
}
img{
    width: 100px;
    height:50px;
    float: right;
}